
<div class="card-columns m-5">
  <div (click)="showArtist(item)" *ngFor="let item of items" class="card puntero" style="width: 18rem;">
    <img class="card-img-top" [src]="item.images | noimage" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">
        <a *ngFor="let artist of items.artists" href="#" class="badge badge-success">
          {{ artist.name }}
        </a>
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
